<div class="container">

  <div class="row">
    
    <div class="col-md-3">
			<%= render 'shared/new_post' %>
		</div>

	</div>
  
  <div class="row">

  	<div class="post-it-container">

			 <%= render @posts %>
			
		</div>

  </div>

</div>
